/* style.css */
*,
*::before,
*::after
{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/* tag selectors */
html
{
  box-sizing: border-box;
  /* font-size = 10px = 1rem */
  font-size: 62.5%;   
}
body
{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #6D5D4B;
  background-color: #EAF6F6;
  line-height: 1.6;
  font-size: 1.8rem;
  padding: 4rem;
}
span 
{
  font-size: 1.9rem;
  font-weight: bold;
}
h1,
h3
{
  color: #404040;
}
h3
{
  font-size: 2.5rem;
}
/* adds a small, orange, horizontal line under the preceding element */
h3:after
{
    display: block;
    height: 2px;
    width: 30rem;
    background-color: #e67e22;
    content: " ";
    text-align: center;
    margin-bottom: 1rem;
}
section
{
  margin-left: auto;
  margin-right: auto;
}
hr
{
  margin: 3rem auto;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
a:link,
a:visited
{
    text-decoration: none;
    padding-bottom: 1px;
}
a:hover,
a:active
{
    color: #555;
    font-size: 105%;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: border-bottom 0.2s color 0.2s;
    -o-transition: border-bottom 0.2s color 0.2s;
    -moz-transition: border-bottom 0.2s color 0.2s;
    transition: border-bottom 0.2s color 0.2s;
}

/* contact form */
form 
{
  width: 40rem;
  /* Form outline */
  padding: 1.5rem 1rem;
  border: 1px solid #CCC;
  border-radius: 1em;
}
ul 
{
  list-style: none;
  padding: 0;
  margin: 0;
}
form li + li 
{
  margin-top: 1rem;
}
label 
{
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
}
input, 
textarea 
{
  /* Uniform text field size */
  width: 27rem;
  height: 3rem;
  /* Match form field borders */
  border-style: groove;
	border-width: 2px;
	border-top-color: white;
	border-left-color: white;
	border-bottom-color: #A8A8A8;
	border-right-color: #A8A8A8;
}
input:focus, 
textarea:focus 
{
  /* Additional highlight for focused elements */
  border-color: #000;
}
textarea 
{
  /* Align multiline text fields with their labels */
  vertical-align: top;
  /* Provide space to type some text */
  height: 15rem;
}
input[type=submit] 
{
  height: 4rem;
  background: -moz-linear-gradient(#ffffff, #CCCCCC);
	background: -webkit-linear-gradient(#ffffff, #CCCCCC);
  background: -ms-linear-gradient(#ffffff, #CCCCCC);
  height: 30px;
	width: 90px;
  xmargin-left: 25%;
}

/* class selectors */
.image-round
{
  border-radius: 50%;
  height: 17.5rem;
}
.short-line:after 
{
  width: 13rem;
}
.medium-line:after 
{
  width: 24rem;
}
.long-line:after 
{
  width: 28rem;
}
.form-heading 
{
  margin-left: 9rem;
}



