/* style.css */

*,
*::before,
*::after
{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html
{
  box-sizing: border-box;
  font-size: 62.5%;
}
body
{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #6D5D4B;
  line-height: 1.6;
  font-size: 1.8rem;
  padding: 4rem;
}
h1
{
  color: #555;
}
h3
{
  font-size: 2.5rem;
  margin-top: 2rem;
}
/* adds a small, orange, horizontal line under the preceding element */
h3:after
{
    display: block;
    height: 2px;
    width: 30rem;
    background-color: #e67e22;
    content: " ";
    text-align: center;
    margin-bottom: 1rem;
}
hr
{
  margin-top: 1.5rem;
}
a:link,
a:visited
{
    text-decoration: none;
    padding-bottom: 1px;
}
a:hover,
a:active
{
    color: #555;
    font-size: 105%;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: border-bottom 0.2s color 0.2s;
    -o-transition: border-bottom 0.2s color 0.2s;
    transition: border-bottom 0.2s color 0.2s;
}
.image-round
{
  border-radius: 50%;
  height: 17.5rem;
}
input[type=text],
input[type=email]
{
  width: 21rem;
}
